#health {
    display:flex;
    flex-direction: row;
}

#continue, #change{
    display: flex;
    margin-left: 80%;
    margin-right: 7%;
    padding: 1%;
    
}

#continue:hover, #change:hover{
    background-color: grey;
}

#continue, #change{
    display: flex;
    margin-left: 80%;
    margin-right: 7%;
    padding: 1%;
    
}

#continue:hover, #change:hover{
    background-color: grey;
}