#health {
    /* display:flex; */
    
    /* width: 70%; */
    /* position: relative; */
}

#zheader {
    width: 100%;
    text-align: center;
    /* position: relative; */
    /* background-color: blue; */
}

#input-questions{
    display: flex;
    

}
#input{
    display: flex;
    justify-content: center;
    width: 50%;
}

#questions {
    display: flex;
    justify-content: center;
    width: 50%;
}

.ant-btn{
    display: flex;
    justify-content: center;
}

#continue, #change{
    display: flex;
    margin-left: 80%;
    margin-right: 7%;
    padding: 1%;
    
}

#continue:hover, #change:hover{
    background-color: grey;
}