#zheader{
    display: flex;
    justify-content: center;
}

#continue, #change{
    display: flex;
    margin-left: 80%;
    margin-right: 7%;
    padding: 1%;
}

#input-questions{
    display: flex;
    justify-content: center;
}

#input{
    
    justify-content: center;
    
}

#questions{
    
    justify-content: center;
    
}

#continue:hover, #change:hover{
    background-color: grey;
}

#continue, #change{
    display: flex;
    margin-left: 80%;
    margin-right: 7%;
    padding: 1%;
    
}

#continue:hover, #change:hover{
    background-color: grey;
}
.ant-btn{
    display: flex;
    justify-content: center;
}