* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset */
}
.App {
    background-color: #F3F6F9;
    max-width: 100vw;
    /* overflow-x: hidden; */
    flex-wrap: wrap;
    /* color: #606060; */
    display: flex;
}








